/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selector */
body {
    background-color: #d9dcd6;
}

/* Class Selector */
/* Styles the Nav bar header 1 and links */
.header-elements {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /* testing changes */
    display: none;
}

/* Class Selector & Element Selector*/
/* Styles header 1 */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* ID Selector */
/* Sets the letters "seo" to grey */
#grey-letters {
    color: #d9dcd6;
}

/* Class Selectors & Element Selectors */
/* Places nav link to the top right of page and styles it */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* Sets the ordered list of link names across the nav bar and properly spaces them */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Element Selector */
/* Styles the nav links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Element Selector */
p {
    font-size: 16px;
}

/* ID Selector */
#first-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Class Selectors */
/* Places the Search Engine Optimization img and the Social Media Marketing img to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Places the Online Reputation Management img to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets the placement for the three boxes */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets the style and placement for the long side box */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Start work here! */
/* Styles the benefit words in the box*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styles the benefit content in the box*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styles the benefit content in the side box */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class Selectors & Element Selectors */
/* Styles the headers in the side box */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styles the images in the long box */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selectors */
/* Styles the content inside the three boxes */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class Selectors and Element Selectors */
/* Sets the max height of the images in the three boxes */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* Styles the headers and sets the placement in the three boxes */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Class Selectors */
/* Styles the footer and centers it */
.text-center {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.text-center .h4 {
    font-size: 20px;
}